<!DOCTYPE HTML>
<html>
<head>
      <meta charset="UTF-8">
      <link rel="icon" type="image/x-icon" href="logo.png">
      <link rel="stylesheet" href="css/styles.css">
      <link rel="stylesheet" href="f-a/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
  </head>
  <body>  
      <div class="grid">
        <div class="main--card card--one">
          <div class="card front">
             <div class="topBg"></div>
              <div class="name">Adventure</div>
                </div>
          <div class="card back">
            <br><br>
            <div class="name">To actively seek, create, explore or engage in stimulating experiences</div>
              </ul><br><br>
              <form action="/values" method="POST">
                <%- include('_form_fields') %>
                <div class="form-row form-row-end btn-row">
                  <button class="btn btn-primary" type="submit">Add</button>
               <br><br>
                </div>
              </form>
              </div>   
      </div>
      <div class="main--card card--one">
        <div class="card front">
           <div class="topBg"></div>
            <div class="name">Assertiveness</div>
              </div>
        <div class="card back">
          <br><br>
          <div class="name">To respecfully stand up for my rights and request what I want</div>
            </ul><br><br>
            <form action="/values" method="POST">
              <%- include('_form_fields') %>
              <div class="form-row form-row-end btn-row">
                <button class="btn btn-primary" type="submit">Add</button>
             <br><br>
              </div>
            </form>
            </div>   
    </div>
    <div class="main--card card--one">
      <div class="card front">
         <div class="topBg"></div>
          <div class="name">Authenticity</div>
            </div>
      <div class="card back">
        <br><br>
        <div class="name">To be genuine, and real: to be true to myself</div>
          </ul><br><br>
          <form action="/values" method="POST">
            <%- include('_form_fields') %>
            <div class="form-row form-row-end btn-row">
              <button class="btn btn-primary" type="submit">Add</button>
           <br><br>
            </div>
          </form>
          </div>   
  </div>
  <div class="main--card card--one">
    <div class="card front">
       <div class="topBg"></div>
        <div class="name">Beauty</div>
          </div>
    <div class="card back">
      <br><br>
      <div class="name">To appreciate, create, nurture, or cultivate beauty in myself, the environment etc.</div>
        </ul><br><br>
        <form action="/values" method="POST">
          <%- include('_form_fields') %>
          <div class="form-row form-row-end btn-row">
            <button class="btn btn-primary" type="submit">Add</button>
         <br><br>
          </div>
        </form>
        </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Caring</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be caring towards myself, others, the environment etc.</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Compassion</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To act with kindness towards those who are suffering</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Contribution</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To help, assist, or make a positve difference to myself or others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Courage</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To persiste in the face of fear, threat, or difficulty</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Flexibility</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To adjust and adapt readily to changing circumstances</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Freedom</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To live freely; to choose how I live, and behave, or help others do likewise</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Forgiveness</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be forgiving towards myself and others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Gratitude</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be grateful for and appreciate of the positve aspects of myself, others and life</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Honesty</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be honest, truthful, and sincere with myself and others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Humility</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be modest; to let my achievements speak for themselves</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Independence</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be self-supportive, and choose my own way of doing things</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Intimacy</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To open up, reveal, and share myself; emotionally or physically - in my close personal relationships</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Justice</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To uphold justice and fairness</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Kindness</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be compassionate, considerate, nurturing or caring towards myself or others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Love</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To act lovingly or affectionately towards myself or others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Mindfulness</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be conscious of, open to, and curious about my here-and-now experience</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Open-mindedness</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To think things through, see things from other's point of view and weigh evidence fairly</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Patience</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To wait calmly for what I want</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Persistence</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To continue resolutely, despite problems or difficulties</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Pleasure</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To create and give pleasure to myself or others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Power</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To strongly influence or wield authority over others (ex:taking charge, leading, organizing)</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Respect</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be respectful towards myself, or others; to be polite, considerate and show postive regard</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Responsibility</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be responsible and accountable for my actions</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Safety</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To secure, protect or ensure safety of myself or others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Self-Care</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To look after my health, and wellbeing, and get my needs met</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Self-Development</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To keep growing, advancing or improving in knowledge, skills, character, or life experience</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Spirituality</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To connect with things bigger than myself</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Supportiveness</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be helpful, encouraging and available to myself and others</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
<div class="main--card card--one">
  <div class="card front">
     <div class="topBg"></div>
      <div class="name">Trust</div>
        </div>
  <div class="card back">
    <br><br>
    <div class="name">To be trustworthy; to be loya, faithful, sincere and reliable</div>
      </ul><br><br>
      <form action="/values" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Add</button>
       <br><br>
        </div>
      </form>
      </div>   
</div>
  </body>
  </html>